.api--form_block {
    position: sticky;

    top: 0;

    margin: auto 0px;

    padding: 25px 0px;

    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    border-bottom: 3px solid #4E75FF;
}

.form {
    display: flex;
    justify-content: center;

    gap: 8px;
}

.form--input {
    width: 272px;
    height: 40px; 
}

input[type="search" i] {
    box-sizing: border-box;
    
    height: 100%;

    outline: 0px;

    padding-block: 8px;
    padding-inline: 16px;

    border-radius: 8px;
    border: 1px solid #808080;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
}

input[type="search" i]:hover,
input[type="search" i]:focus {
    border-width: 1.5px ;
    border-color: #6c8cff;
}

.form--input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;

    color: #808080;
}

.get--seurch_button {
    box-sizing: border-box;

    padding: 8px 16px;

    width: 91px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;

    color: #fff;

    background-color: #4E75FF;

    border-radius: 8px;
    border: none;
}

.get--seurch_button:hover {
    background-color: #6c8cff;
}

/* Gallery */

.gallery--wrapper {
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-self: center;
}

.gallery {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery--list {
    width: 360px;

    
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

.gallery--link {
    display: block;
}

.gallery--link img {
    width: 100%;
    height: 200px;
}

.thumb--box {
    display: flex;
}

.thumb--item {
    padding: 4px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumb--tittle {
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.thumb--amount {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;

}

.loader {
    position: fixed;

    width: 48px;
    height: 48px;

    top: 50%;

    transform: translateY(-50%);

    border: 10px solid;
    
    border-radius: 50%;

    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }


  @keyframes animloader {
    0% {
      border-color: #2e2f42 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    33% {
      border-color: #2e2f42#2e2f42 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }
    66% {
      border-color: #2e2f42 #2e2f42 #2e2f42 rgba(255, 255, 255, 0);
    }
    100% {
      border-color: #2e2f42 #2e2f42 #2e2f42 #2e2f42;
    }
  }


.more {
    display: block;

    margin: -50px auto 20px;

    width: 125px;
}


.hidden {
    visibility: hidden;
}